:root {
  /* colors */
  --color-background: #282828;
  --color-green: #c2f23c;
  --color-blue: #0080ff;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #a6abb3;

  --border-radius: 16px;
  --transition: all 0.2s ease;

  /* fonts */
}

/* custom */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-green);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.lpc-section,
.lc-features__base-wrapper {
  max-width: 1375px !important;
}

/* header */
body,
.lc-header-lpc {
  background-color: var(--color-background);
}
body {
  overflow-x: hidden;
}
.menu-open {
  height: 100vh !important;
  overflow: hidden !important;
}
.lc-navigation-menu__link {
  color: white !important;
  font-size: 18px;
  line-height: auto;
  transition: var(--transition);
}
.lc-navigation-menu__link:hover {
  color: var(--color-green) !important;
}
.lc-header-lpc__fixed-wrapper-active {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
}
.lc-header-lpc__fixed-wrapper {
  transition: var(--transition);
}

/* top text */

#tabs-text {
  margin-top: 180px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}
.lc-text-block_size_s42 {
  color: var(--color-white);
  font-size: 42px;
  line-height: 95%;
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
}
.lc-text-block_size_s28 {
  color: var(--color-white);
  font-size: 30px !important;
  line-height: 32px;
  max-width: 1068px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #tabs-text {
    margin-top: 130px;
  }
  .lc-text-block_size_s42 {
    max-width: 480px;
    font-size: 28px;
    line-height: 95%;
  }
  .lc-text-block_size_s28 {
    max-width: 660px;
    font-size: 22px !important;
    line-height: normal;
  }
}

@media screen and (max-width: 375px) {
  #tabs-text {
    margin-top: 130px;
  }
  .lc-text-block_size_s28,
  .lc-text-block_size_s42 {
    max-width: 340px;
  }
}

/* tabs */

.lc-tabs__underline-container {
  width: 100%;
}
.lc-tabs__container-wrapper {
  background-color: var(--color-background) !important;
}
.lc-tabs__scroll-wrapper {
  background-color: var(--color-background);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.lc-tabs__tab_align_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
}
.lc-tabs__container_theme_tabs {
  width: 100%;
}
.lc-tabs__tab_size_m .lc-styled-text__text {
  text-align: center !important;
  text-wrap: wrap;
  white-space: normal;
  max-width: 100%;
}
.lc-tabs__tab_size_m {
  padding: 40px !important;
  border: 3px solid rgba(40, 40, 40, 0);
  border-radius: var(--border-radius);
  transition: var(--transition);
  overflow-y: hidden;
}
.lc-tabs__tab_size_m:hover {
  border: 3px solid rgba(194, 242, 60, 1) !important;
}
.lc-tabs__icon {
  max-width: 300px;
  width: 100%;
  height: 200px;
  padding: 0 !important;
}
.lc-tabs__arrow {
  display: none;
}
.lc-tabs__gradient {
  display: none;
}

@media screen and (max-width: 767px) {
  .lc-tabs__tab_align_left {
    gap: 30px;
  }
  .lc-tabs__tab_size_m .lc-styled-text__text {
    font-size: 22px;
    line-height: normal;
  }
  .lc-tabs__tab_size_m {
    padding: 40px 18px !important;
  }

  .lc-tabs__scroll-wrapper {
    gap: 10px;
  }

  .lc-tabs__icon {
    height: auto;
  }
}

@media screen and (max-width: 575px) {
  .lc-tabs__scroll-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* features */

.lc-features__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100% !important;
  margin: 0;
}
#tabs-content section {
  width: 100%;
  padding: 40px 32px;
  background: var(--color-white);
  color: var(--color-black);
  border-radius: var(--border-radius);
}
#tabs-content {
  margin-top: -36px;
}
#tabs-content .lc-features__description {
  padding-top: 5px;
  height: fit-content;
}
#tabs .lc-features__item-wrap_feature-back {
  padding: 0;
  min-height: fit-content;
}

.active-tabs-1 > section {
  background: var(--color-white) !important;
}
.active-tabs-2 > section {
  background: var(--color-green) !important;
}
.active-tabs-3 > section {
  background: var(--color-blue) !important;
}

@media screen and (max-width: 767px) {
  .lc-features__items {
    grid-template-columns: repeat(2, 1fr);
  }

  #tabs-content section {
    padding: 40px clamp(12px, 15%, 24px);
    width: 100%;
  }
  #tabs-content section .lc-features__item-wrap_feature-back {
    width: 100%;
    word-wrap: break-word;
  }

  #tabs-content .lc-text-block_size_s24 {
    font-size: 20px;
    line-height: 120%;
  }

  #tabs-content .lc-text-block_size_s20 {
    font-size: 18px;
    line-height: normal;
  }
}

@media screen and (max-width: 375px) {
  .lc-features__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* bingo */
#cards section {
  width: 100%;
  padding: 0;
  height: 240px;
  border-radius: var(--border-radius);
}
#cards header {
  position: absolute;
}
.lc-features__image {
  top: 0;
}
.lc-features__side-toggler_effect_flip:hover {
  cursor: pointer;
}
.lc-features__spacer-wrapper header .lc-styled-text {
  position: relative;
}
.lc-features__spacer-wrapper header .lc-styled-text__text_align_center {
  position: absolute;
  top: 0;
  left: 0;
}
#cards .lc-styled-text {
  padding: 15px;
}
#cards .lc-features__spacer-wrapper:first-of-type {
  min-height: 240px;
}
#cards .lc-features__spacer-wrapper:first-of-type .lc-picture__full-size-block {
  height: 240px;
}
#cards .lc-features__spacer-wrapper:last-of-type {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
}
#cards .lc-features__spacer-wrapper:last-of-type > * {
  position: relative;
}

#cards .lc-features__spacer-wrapper:last-of-type .lc-styled-text__text {
  left: 50%;
  top: 50%;
  transform: translate(-65%, -65%);
  font-size: 30px;
  line-height: 32px;
}
.lc-features__front-side {
  height: 240px;
}
.lc-features__image-el {
  height: 240px;
}
.lc-features__back-side {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: 40px 32px;
  font-size: 20px;
  line-height: auto;
}
.lc-features__scrollable::-webkit-scrollbar-track {
  background: #ececec;
}
.lc-features__scrollable::-webkit-scrollbar-thumb {
  background: var(--color-grey);
}

#cards .lc-features__image-el {
  width: 100% !important;
}

#cards-title .lc-offsets {
  padding: 33px 0px 40px 0px !important;
}

@media screen and (max-width: 767px) {
  #cards-title .lc-text-block_bpsize_s42 {
    font-size: 28px !important;
    line-height: 95%;
  }

  #cards-title .lc-offsets {
    padding: 0px 0px 20px 0px !important;
  }

  .lc-text-block_size_s24 .lc-styled-text__text_align_center {
    font-size: 22px !important;
    line-height: normal;
  }

  .lc-text-block_size_s20 .lc-styled-text__text_align_left {
    font-size: 18px;
    line-height: normal;
  }
  #cards-title .lc-text_column_l {
    max-width: 285px !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 375px) {
  #cards-title .lc-offsets {
    padding: 0px 0px 56px 0px !important;
  }
}

/* FaQ */

#faq-group {
  margin-top: 89px;
}
#faq .lc-styled-text__text {
  color: var(--color-white);
}
.lc-icon_fill-type_fill svg {
  color: var(--color-green) !important;
}
#faq .lc-spoiler-item__header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 14px;
}

.lc-spoiler_align_center .lc-offsets:first-of-type {
  padding-bottom: 5px !important;
}

.lc-spoiler-item_open {
  padding-bottom: 17px !important;
}

.lc-spoiler-item_open.lc-spoiler-item__text {
  padding-top: 12px !important;
}

@media screen and (max-width: 767px) {
  .lc-spoiler_align_center .lc-offsets:first-of-type > * {
    width: 100% !important;
    max-width: 100% !important;
  }

  #faq .lc-offsets {
    padding-top: 0px !important;
  }

  .lc-spoiler_align_center
    .lc-offsets:first-of-type
    .lc-styled-text__text_align_center {
    text-align: left !important;
    font-size: 28px;
    line-height: 95%;
  }

  .lc-spoiler__items .lc-spoiler-item:first-of-type .lc-spoiler-item__header {
    padding-top: 20px !important;
  }
  .lc-spoiler__items .lc-text-block_size_s24 {
    font-size: 20px;
    line-height: 120%;
  }
  .lc-spoiler__items .lc-text-block_size_s20 {
    font-size: 18px;
    line-height: normal;
  }
}

@media screen and (max-width: 375px) {
  .lc-spoiler-item_open {
    padding-bottom: 11px !important;
  }

  .lc-spoiler-item_open.lc-spoiler-item__text {
    padding-top: 0 !important;
  }
}

/* footer */

.lc-footer-columns__column_guides_auto {
  width: 100%;
  text-align: center;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.lc-footer-columns-copyright_align_center {
  color: var(--color-green);
}
#icon-burder {
  display: none;
}

#icon-faq-arrow {
  display: none;
}

.burger-img {
  filter: none;
  opacity: 1;
  width: 38px;
  height: 38px;
  margin-right: 19px;
}

.lc-header-lpc-burger__burger-icon {
  display: block;
  width: fit-content;
  height: fit-content;
}

/* burger */

#header svg {
  width: 32px;
  height: 32px;
}
#header .lc-icon_fill-type_fill svg {
  color: var(--color-grey) !important;
}
#header .lc-icon_fill-type_fill:hover svg {
  color: var(--color-green) !important;
}

/* burger menu */

.lc-header-lpc-burger__menu-background {
  background-color: var(--color-background);
}
.lc-header-lpc-burger__links .lc-styled-text__text {
  color: var(--color-white);
}
.lc-header-lpc-burger__links {
  padding: 70px 30px;
}
.lc-header-lpc-burger__menu-wrapper_hidden {
  display: block;
  opacity: 0;
  pointer-events: none;
}
.lc-header-lpc-burger__menu-wrapper {
  transition: var(--transition);
}
